@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,900;1,200;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Piazzolla', serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: auto;
}
:root{
    --main-bg:#1e272e;
    --main-color:#0097e6;
}
html{
    font-size: 62.5%;
}
body{
    height: auto;
    display: flex;
    flex-direction: column;
}
.row{
    margin:0;
}
.main_menu{
    background-color: var(--main-bg);

}
.navbar{
    color: #fff;
    background-color: var(--main-bg);
    padding: 2rem 0;
}
.navbar li{
    margin-left: 2rem;
}
.navbar a{
    color:#fff;
    font-size: 2rem;
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar-toggler{
    background-color: gray;

}
.dropdown-menu{
    background-color: var(--main-bg);
}
.fa-snowflake{
    transition: all linear;
    animation: rot 2s linear infinite ;
    color: var(--main-color);
}
@keyframes rot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


/* body part */
 .main_header{
    height: auto;    
    /* background-color: yellow; */
    
}  
.main_header_left{
    height: auto;
    justify-content: space-around;
    text-align: center;
    /* border-right: 2px solid var(--main-bg); */
    
 } 
 .tab {
    overflow: hidden;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 220px;
    justify-content: space-around;

}
.tab button{
    margin-top: 30px;
    font-size: 30px;
    font-weight: 1000;
    background: none;
    border: none;
    transition: 0.3s;
    justify-content: start;
    align-items: flex-start;
    outline: none;
    
}
.tab button:hover{
    /* border-radius: 25px;
    padding: 8px;
    background: #ccc */
}
.main_header_right{
    margin-top: 50px;
    margin-left: 250px;
    /* background-color: red; */
    
}

/* project subnmiyriok*/



/*announcement*/
.announcement label{
    margin-left: 50px;
    
    font-size: 25px;
    color: var(--main-color);
}
.announcement input{
    margin-left: 50px;
    font-size: 15px;
    padding: 13px;
    padding-left: 15px;
    border-radius: 20px;
    width: 90%;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    
}
.announcement button{
    margin-top: 13px;
    margin-left: 450px;
    border:1px solid var(--main-color);
    padding: 10px 18px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 25px;
    
    align-self: flex-start;
    outline: none;
    box-shadow: 0 8px 6px -6px rgb(165, 101, 101);
}
.announcement button:hover{
    outline: none;
    box-shadow: 0 8px 6px -6px var(--main-color);
}
.main_header_right .container1{
    margin-left: 50px;
    margin-top: 40px;
    height: auto;
    
    justify-content: center;
    align-items: center;
    background: none;
    border-radius: 20px;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 15px;
}
.container1 .con{
    margin-top: 30px;
    margin-left: 70px;
    align-self: center;
    text-decoration: underline;
    color: var(--main-bg);
    font-size: 30px;
    font-weight: 1000;
}
.container2{
    border-bottom:1px solid rgb(19, 30, 190);
    margin-top: 15px;
    
    padding: 0;
    height: auto;

}
.container2 p{
    font-size: 25px;
    font-family: cursive;
    
}
.main_header_left{
    
}
  .tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    /* background-color: #f1f1f1; */
    margin-left: 200px;
    width: 100%;
    justify-content: space-around;
  }
  
 
   .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 20px;
    margin-left: 30px;
    justify-content: space-around;
  }
  
 
  .tab button:hover {
    background-color: #ddd;
  }
  
  
  .tab button.active {
    background-color: #ccc;
  }
  
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
  }    
.review{
    font-size: 25px;
    color: blue;
}
.box_1{
    height: auto;
    /* //border:2px solid black; */
    margin-bottom:15px;
}
.box_2{
    margin-bottom: 5px;
    margin-top: 5px;
    border-bottom:2px solid #ccc;
}
.box_2 p{
    font-size: 20px;
    
}
span{
    color: blueviolet;
    /* text-decoration: underline; */
    border: 1px solid blueviolet;
    /* border-radius: 15px; */
    /* padding: 2px; */
}